<h1>Editing shoe size</h1>

<%= render "form", shoe_size: @shoe_size %>

<br>

<div>
  <%= link_to "Show this shoe size", @shoe_size %> |
  <%= link_to "Back to shoe sizes", shoe_sizes_path %>
</div>
