<!DOCTYPE html>
<html>

<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
    <h2>An email notification for <%= @email %></h2>
    <p>
        A login was successfully made to melisports.com,
        your username is: <%= @email %>.<br>
    </p>
    <p>
        To login to complete you sign up, follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
</body>

</html>