<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>You requested to Reset Password for, <%= @user.first_name %></h2>
    <p>
      your username is: <%= @user.first_name %>.<br>
    </p>
    <p>
      To Reset password , follow this link: <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
