<div id="<%= dom_id product_colour %>">
  <p>
    <strong>Colour:</strong>
    <%= product_colour.colour %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product_colour.quantity %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= product_colour.product_id %>
  </p>

</div>
