<h1>Editing product colour</h1>

<%= render "form", product_colour: @product_colour %>

<br>

<div>
  <%= link_to "Show this product colour", @product_colour %> |
  <%= link_to "Back to product colours", product_colours_path %>
</div>
