<h1>Editing billing address</h1>

<%= render "form", billing_address: @billing_address %>

<br>

<div>
  <%= link_to "Show this billing address", @billing_address %> |
  <%= link_to "Back to billing addresses", billing_addresses_path %>
</div>
